In [1]:
import pandas as pd
import numpy as np
from numpy import inf

In [2]:
#Import a csv file with data about day, buyer_id, item_det_info, pay_timestamp and etc.
df = pd.read_csv('order_data_toy_1.csv', names = ['day', 'order_id','item_det_info','pay_timestamp','buyer_id','promise_speed','merchant_id','Logistics_review_score'])

In [4]:
df[:5]

,day,order_id,item_det_info,pay_timestamp,buyer_id,promise_speed,merchant_id,Logistics_review_score
20170101,488,86889:1:1152.11,1/1/2017 13:07,73376137,3.0,1,505,5.0
20170101,4930,234155:1:3003.09,1/1/2017 7:09,8952602,3.0,1,505,NaN
20170101,4937,209238:1:10.09,1/1/2017 14:12,69165945,NaN,0,387,NaN
20170101,6827,182517:1:965.21,1/1/2017 13:13,41670373,0.0,1,42,5.0
20170101,10231,154345:1:74.77,1/1/2017 17:19,31580563,NaN,0,3,5.0

In [8]:
#Convert column "pay_timestamp" to a datetime column and identify today's date
df['pay_timestamp'] = pd.to_datetime(df['pay_timestamp'])
df['today_timestamp']= pd.to_datetime('today')

In [9]:
#Check the data types for all columns
df.dtypes

day                                int64
order_id                          object
item_det_info                     object
pay_timestamp             datetime64[ns]
buyer_id                         float64
promise_speed                      int64
merchant_id                        int64
Logistics_review_score           float64
today_timestamp           datetime64[ns]
dtype: object

In [10]:
#Calculate "recency"
df['recency'] = df['today_timestamp'] - df['pay_timestamp']

In [35]:
#df['recency']
#df.iloc[56]

In [ ]:
#Calculate revenue for each purchase
s =[]
for row in range(len(df)):
    items = df['item_det_info'][row].split(';')
    #print(items)
    for i in range(len(items)):
        revenue = 0 
        si = items[i]
        item_info = si.split(':')
        if len(item_info) == 3:
            revenue += float (item_info[2])
        else:
            #print('incomplete data:', si)
            pass
    s.append(revenue)
print(s)

In [37]:
#Create a Series for revenue data
se = pd.Series(s)
df['revenue'] = se.values

In [38]:
#Check revenue data in df
df['revenue']

0      1152.11
1      3003.09
2        10.09
3       965.21
4        74.77
5         6.99
6        20.39
7      1056.57
8       123.35
9        59.58
10      116.53
11       20.36
12       64.39
13        8.64
14       21.28
15      308.74
16       30.01
17       11.80
18        9.05
19       39.91
20       28.53
21       14.52
22       29.25
23       28.93
24       10.69
25     3366.12
26     1152.11
27       69.83
28       34.09
29       96.29
        ...
970      11.56
971      75.84
972       0.00
973       0.00
974       2.75
975     207.76
976      12.69
977      20.27
978      32.87
979     138.54
980      47.33
981      51.67
982      44.03
983       8.96
984    1125.25
985      34.47
986      25.98
987       2.94
988    1200.51
989      24.18
990      86.86
991      31.91
992      27.98
993      58.65
994     158.67
995    1474.72
996     273.04
997      28.60
998      13.88
999    3205.77
Name: revenue, Length: 1000, dtype: float64

In [39]:
#df

In [40]:
#Calculate revenue on each buyer_id
df2 = df.groupby(['buyer_id'])['revenue'].sum()
df2

buyer_id
11066         13.21
23161         20.36
106330        68.25
207739        26.58
451646        43.96
638328        12.28
675354        81.32
682224        89.32
704189       997.49
923664        13.07
1011410        0.00
1041190     1213.30
1476537        9.69
1610920       35.12
1686928       35.12
1711489     1961.23
1851545     2924.09
1862440      965.21
2045554       45.06
2153669       18.21
2157360        9.76
2385711        9.95
2459911       90.77
2482885        9.58
2589154       31.43
2619266       34.09
2704490       81.89
2710049       62.86
2733483       52.51
2922630       32.86
             ...
81685825     318.24
81824089     130.84
81890222      41.81
81922154      93.88
81933545      22.58
82055205     622.38
82196040      31.91
82274743    1061.46
82327328      10.62
82398709      96.29
82449488       7.66
82514419     435.85
82647934      96.77
82800437     495.84
82815396      60.93
82889604    1028.22
82976674       3.07
83266082     302.31
83290047      36.77
83344887     181.48
83353666       6.89
83392150     104.17
83448593    1056.57
83566977      18.12
83583540       2.91
83757979      93.82
83901756      10.89
83921364      15.74
84064436       1.98
84316723    3003.09
Name: revenue, Length: 1000, dtype: float64

In [41]:
#Calculate purchase frequency of each buyer_id
df3 = df.groupby(['buyer_id'])['pay_timestamp'].count()
df3

buyer_id
11066       1
23161       1
106330      1
207739      1
451646      1
638328      1
675354      1
682224      1
704189      1
923664      1
1011410     1
1041190     1
1476537     1
1610920     1
1686928     1
1711489     1
1851545     1
1862440     1
2045554     1
2153669     1
2157360     1
2385711     1
2459911     1
2482885     1
2589154     1
2619266     1
2704490     1
2710049     1
2733483     1
2922630     1
           ..
81685825    1
81824089    1
81890222    1
81922154    1
81933545    1
82055205    1
82196040    1
82274743    1
82327328    1
82398709    1
82449488    1
82514419    1
82647934    1
82800437    1
82815396    1
82889604    1
82976674    1
83266082    1
83290047    1
83344887    1
83353666    1
83392150    1
83448593    1
83566977    1
83583540    1
83757979    1
83901756    1
83921364    1
84064436    1
84316723    1
Name: pay_timestamp, Length: 1000, dtype: int64

In [42]:
#Calculate recency of each buyer_id
df4 = df.groupby(['buyer_id'])['recency'].min()
df4

buyer_id
11066      516 days 09:45:00
23161      516 days 15:11:00
106330     516 days 09:54:00
207739     516 days 04:49:00
451646     516 days 00:09:00
638328     516 days 04:37:00
675354     516 days 12:51:00
682224     516 days 11:56:00
704189     516 days 11:59:00
923664     516 days 15:28:00
1011410    516 days 15:18:00
1041190    516 days 23:34:00
1476537    516 days 08:31:00
1610920    516 days 13:21:00
1686928    516 days 10:30:00
1711489    516 days 23:45:00
1851545    516 days 23:34:00
1862440    516 days 05:07:00
2045554    516 days 15:27:00
2153669    516 days 07:19:00
2157360    516 days 13:05:00
2385711    516 days 07:55:00
2459911    516 days 05:04:00
2482885    516 days 14:58:00
2589154    516 days 08:08:00
2619266    516 days 09:27:00
2704490    516 days 11:54:00
2710049    516 days 00:58:00
2733483    516 days 07:58:00
2922630    516 days 11:25:00
                  ...
81685825   516 days 08:13:00
81824089   516 days 07:44:00
81890222   516 days 02:50:00
81922154   516 days 05:29:00
81933545   516 days 08:04:00
82055205   516 days 11:44:00
82196040   516 days 07:34:00
82274743   516 days 16:29:00
82327328   516 days 02:11:00
82398709   516 days 09:25:00
82449488   516 days 11:09:00
82514419   516 days 12:04:00
82647934   516 days 21:53:00
82800437   516 days 09:20:00
82815396   516 days 00:47:00
82889604   516 days 07:26:00
82976674   516 days 02:10:00
83266082   516 days 06:51:00
83290047   516 days 12:45:00
83344887   516 days 08:51:00
83353666   516 days 04:13:00
83392150   516 days 02:45:00
83448593   516 days 23:58:00
83566977   516 days 08:20:00
83583540   516 days 16:05:00
83757979   516 days 03:42:00
83901756   516 days 09:06:00
83921364   516 days 12:36:00
84064436   516 days 08:29:00
84316723   516 days 06:12:00
Name: recency, Length: 1000, dtype: timedelta64[ns]

In [43]:
#Create a new DataFrame by concating DataFrames about revenue, purchase and recency, and rename columns
rfmTable = pd.concat([df2, df3, df4], axis=1).reset_index()
rfmTable.columns = ['buyer_id', 'monetary', 'frequency','recency']

In [44]:
#Convert "recency" data to days
rfmTable.recency = rfmTable.recency.dt.days

In [45]:
#Split metrics into segments by using quartiles
quantiles = rfmTable.quantile(q=[0.25,0.5,0.75])
quantiles = quantiles.to_dict()

In [7]:
#Create a segmented RFM table
segmented_rfm = rfmTable

NameError: name 'rfmTable' is not defined

In [47]:
#Calculate Recency scores and FM scores
def RScore(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4
    
def FMScore(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

In [6]:
#Add segment numbers to the newly created segmented RFM table
segmented_rfm['r_quartile'] = segmented_rfm['recency'].apply(RScore, args=('recency',quantiles,))
segmented_rfm['f_quartile'] = segmented_rfm['frequency'].apply(FMScore, args=('frequency',quantiles,))
segmented_rfm['m_quartile'] = segmented_rfm['monetary'].apply(FMScore, args=('monetary',quantiles,))
segmented_rfm

NameError: name 'segmented_rfm' is not defined

In [51]:
#Add a new column to combine RFM score: 141 is the highest score as we saw from the segmented_rfm table
segmented_rfm['RFMScore'] = segmented_rfm.r_quartile.map(str) + segmented_rfm.f_quartile.map(str) + segmented_rfm.m_quartile.map(str)

In [52]:
#Find out the top 10 of our best customers
segmented_rfm[segmented_rfm['RFMScore']=='141'].sort_values('monetary', ascending=False).head(10)

,buyer_id,monetary,frequency,recency,r_quartile,f_quartile,m_quartile,RFMScore
485,41116008,6832.49,1,516,1,4,1,141
477,40241993,3367.39,1,516,1,4,1,141
361,31901926,3366.12,1,516,1,4,1,141
455,38515899,3205.77,1,516,1,4,1,141
999,84316723,3003.09,1,516,1,4,1,141
524,44241655,3003.09,1,516,1,4,1,141
106,8952602,3003.09,1,516,1,4,1,141
597,50375950,2972.86,1,516,1,4,1,141
813,67560428,2958.40,1,516,1,4,1,141
586,49156763,2938.67,1,516,1,4,1,141

In [53]:
#Output a csv file with FMScore" relevant metrics on each "buyer_id"
out = segmented_rfm
out.to_csv('CustomerSegmentationRFM.csv')