In [29]:
import pandas as pd
import numpy as np
from numpy import inf

In [30]:
#Import a csv file with data about day, buyer_id, item_det_info, pay_timestamp and etc.
df = pd.read_csv('order_data_toy_1.csv', names = ['day', 'order_id','item_det_info','pay_timestamp','buyer_id','promise_speed','if_cainiao','merchant_id','Logistics_review_score'])

In [31]:
df

,day,order_id,item_det_info,pay_timestamp,buyer_id,promise_speed,if_cainiao,merchant_id,Logistics_review_score
0,20170101,488,86889:1:1152.11,1/1/2017 13:07,73376137,3.0,1,505,5.0
1,20170101,4930,234155:1:3003.09,1/1/2017 7:09,8952602,3.0,1,505,NaN
2,20170101,4937,209238:1:10.09,1/1/2017 14:12,69165945,NaN,0,387,NaN
3,20170101,6827,182517:1:965.21,1/1/2017 13:13,41670373,0.0,1,42,5.0
4,20170101,10231,154345:1:74.77,1/1/2017 17:19,31580563,NaN,0,3,5.0
5,20170101,10233,87290:1:6.99,1/1/2017 22:52,26867950,NaN,0,501,5.0
6,20170101,10383,101232:1:20.39,1/1/2017 14:14,9447868,NaN,0,90,3.0
7,20170101,14051,234001:1:1056.57,1/1/2017 0:02,83448593,2.0,1,505,5.0
8,20170101,15896,126988:1:123.35,1/1/2017 22:25,33530244,NaN,0,431,4.0
9,20170101,15900,190313:2:59.58,1/1/2017 22:26,75971470,NaN,0,501,5.0
10,20170101,19602,2441:1:116.53,1/1/2017 21:46,75850874,NaN,0,511,5.0
11,20170101,21372,248659:1:20.36,1/1/2017 8:49,23161,NaN,0,90,NaN
12,20170101,21752,187237:1:64.39,1/1/2017 10:05,16664855,2.0,1,286,4.0
13,20170101,21753,30518:2:18.89;24276:1:8.64,1/1/2017 17:13,8212267,NaN,0,127,NaN
14,20170101,24094,130847:1:21.28,1/1/2017 18:50,66425140,NaN,0,128,NaN
15,20170101,24097,254777:1:308.74,1/1/2017 17:06,29508094,2.0,1,349,NaN
16,20170101,24101,184119:1:30.01,1/1/2017 20:01,48797907,3.0,1,134,5.0
17,20170101,30416,96159:1:11.8,1/1/2017 15:09,16782868,NaN,0,127,NaN
18,20170101,30418,267187:1:9.18;132685:1:9.05,1/1/2017 20:21,39264691,NaN,0,230,NaN
19,20170101,33928,55565:1:39.91,1/1/2017 16:53,21350552,NaN,0,91,4.0
20,20170101,42167,233768:1:28.53,1/1/2017 0:44,61220792,NaN,0,447,5.0
21,20170101,46068,213892:1:14.52,1/1/2017 10:13,61073437,NaN,0,17,NaN
22,20170101,46392,70415:1:29.25,1/1/2017 16:33,79091199,2.0,1,225,NaN
23,20170101,46684,175518:1:28.93,1/1/2017 12:42,9229283,NaN,0,441,5.0
24,20170101,46690,88906:1:10.69,1/1/2017 21:30,36614470,NaN,0,127,NaN
25,20170101,46819,155215:1:3366.12,1/1/2017 10:04,31901926,0.0,1,460,NaN
26,20170101,50167,86889:1:1152.11,1/1/2017 0:03,48458173,2.0,1,505,NaN
27,20170101,53058,8494:1:69.83,1/1/2017 10:46,76382728,0.0,1,288,5.0
28,20170101,53222,100454:1:34.09,1/1/2017 17:13,58595368,NaN,0,510,5.0
29,20170101,55031,211806:1:96.29,1/1/2017 14:35,82398709,NaN,0,240,NaN
...,...,...,...,...,...,...,...,...,...
970,20170101,1879035,141811:1:11.56,1/1/2017 0:40,7091336,NaN,0,127,NaN
971,20170101,1881396,159570:1:75.84,1/1/2017 20:22,14822114,NaN,0,65,NaN
972,20170101,1881401,0.888074769,1/1/2017 10:21,65550908,0.0,1,505,5.0
973,20170101,1886794,147.8760418,1/1/2017 20:04,74319085,NaN,0,35,NaN
974,20170101,1886803,180675:1:2.75,1/1/2017 21:53,29725079,NaN,0,210,NaN
975,20170101,1888360,218584:1:207.76,1/1/2017 12:00,43987190,0.0,1,513,NaN
976,20170101,1890935,221978:1:12.69,1/1/2017 23:53,50843680,0.0,1,286,5.0
977,20170101,1891997,126404:1:20.27,1/1/2017 17:04,35774765,NaN,0,127,5.0
978,20170101,1892886,86758:1:32.87,1/1/2017 22:03,62234345,NaN,0,128,NaN
979,20170101,1894759,190989:1:138.54,1/1/2017 18:38,73923449,3.0,1,65,NaN
980,20170101,1896063,167527:1:47.33,1/1/2017 17:43,63716427,NaN,0,65,5.0
981,20170101,1898370,42529:2:51.67,1/1/2017 12:56,76108874,NaN,0,459,NaN
982,20170101,1900195,57786:1:44.03,1/1/2017 12:24,49994040,NaN,0,120,5.0
983,20170101,1900200,31415:1:8.96,1/1/2017 9:10,78311573,NaN,0,417,5.0
984,20170101,1901150,235684:1:1125.25,1/1/2017 7:21,75361787,0.0,1,323,NaN
985,20170101,1904978,64437:1:34.47,1/1/2017 18:51,56132453,NaN,0,447,5.0
986,20170101,1907953,199763:1:25.98,1/1/2017 15:25,62086155,NaN,0,459,NaN
987,20170101,1910499,28485:1:2.94,1/1/2017 21:03,8948650,NaN,0,210,NaN
988,20170101,1910765,52906:1:1200.51,1/1/2017 0:16,33088312,NaN,1,505,NaN
989,20170101,1913297,252152:1:24.18,1/1/2017 0:40,58421942,NaN,0,225,5.0
990,20170101,1913967,73459:1:86.86,1/1/2017 9:31,48797282,NaN,1,323,NaN
991,20170101,1917491,267621:1:31.91,1/1/2017 16:26,82196040,NaN,0,447,5.0
992,20170101,1917494,163868:1:24.4;130001:1:27.98,1/1/2017 17:46,3898464,NaN,0,135,5.0
993,20170101,1918414,190741:1:58.65,1/1/2017 21:17,3756790,NaN,0,509,NaN
994,20170101,1918423,23255:1:158.67,1/1/2017 14:26,42160486,NaN,0,193,NaN
995,20170101,1918580,93812:1:1474.72,1/1/2017 20:13,57838844,0.0,1,42,4.0
996,20170101,1918586,30201:1:273.04,1/1/2017 13:25,14360311,NaN,0,520,NaN
997,20170101,1920023,241247:1:28.6,1/1/2017 21:15,53112883,NaN,0,405,NaN
998,20170101,1920030,178490:5:13.88,1/1/2017 14:05,46394543,NaN,0,201,NaN
999,20170101,1920763,95614:1:3205.77,1/1/2017 9:18,38515899,NaN,1,24,NaN

In [32]:
#Convert column "pay_timestamp" to a datetime column and identify today's date
df['pay_timestamp'] = pd.to_datetime(df['pay_timestamp'])
df['today_timestamp']= pd.to_datetime('today')

In [33]:
#Check the data types for all columns
df.dtypes

day                                int64
order_id                           int64
item_det_info                     object
pay_timestamp             datetime64[ns]
buyer_id                           int64
promise_speed                    float64
if_cainiao                         int64
merchant_id                        int64
Logistics_review_score           float64
today_timestamp           datetime64[ns]
dtype: object

In [34]:
#Calculate "recency"
df['recency'] = df['today_timestamp'] - df['pay_timestamp']

In [35]:
#df['recency']
#df.iloc[56]

In [36]:
#Calculate revenue for each purchase
s =[]
for row in range(len(df)):
    items = df['item_det_info'][row].split(';')
    #print(items)
    for i in range(len(items)):
        revenue = 0 
        si = items[i]
        item_info = si.split(':')
        if len(item_info) == 3:
            revenue += float (item_info[2])
        else:
            #print('incomplete data:', si)
            pass
    s.append(revenue)
print(s)

[1152.11, 3003.09, 10.09, 965.21, 74.77, 6.99, 20.39, 1056.57, 123.35, 59.58, 116.53, 20.36, 64.39, 8.64, 21.28, 308.74, 30.01, 11.8, 9.05, 39.91, 28.53, 14.52, 29.25, 28.93, 10.69, 3366.12, 1152.11, 69.83, 34.09, 96.29, 33.59, 101.89, 61.26, 69.83, 18.66, 100.61, 30.38, 20.78, 18.81, 12.46, 5.23, 207.76, 73.67, 96.77, 86.47, 35.32, 62.82, 25.88, 26.15, 928.0, 93.54, 9.6, 9.92, 127.76, 260.78, 1200.51, 0, 12.56, 14.97, 2625.33, 346.78, 26.14, 18.25, 3.07, 1294.28, 1061.46, 937.03, 93.88, 3.04, 0, 20.26, 38.9, 30.76, 10.64, 9.95, 92.71, 2462.6, 45.06, 25.85, 18.03, 65.31, 23.01, 1961.23, 26.42, 0, 63.33, 61.26, 27.17, 31.14, 62.86, 882.42, 70.92, 9.12, 45.77, 93.21, 18.21, 139.65, 184.68, 3.72, 47.33, 96.43, 1960.74, 67.84, 34.09, 60.93, 75.84, 1200.51, 131.63, 12.77, 6.99, 3.72, 28.72, 28.86, 29.53, 898.27, 45.16, 12.77, 23.58, 45.06, 27.45, 34.09, 517.35, 72.34, 16.42, 1094.78, 134.21, 169.2, 359.83, 62.82, 10.72, 75.84, 10.62, 14.15, 35.07, 153.01, 15.74, 631.95, 556.09, 32.01, 207.76, 183.66, 223.2, 390.91, 361.1, 12.56, 26.13, 18.94, 10.51, 62.34, 114.1, 57.01, 24.16, 27.13, 14.5, 28.66, 261.58, 111.61, 19.0, 28.36, 214.48, 25.2, 62.82, 9.7, 23.0, 28.79, 54.42, 26.99, 1152.11, 133.4, 50.03, 2128.17, 9.4, 43.96, 1203.49, 375.78, 53.71, 39.86, 10.3, 18.66, 111.96, 64.39, 433.26, 93.21, 25.8, 2121.02, 1426.09, 69.83, 62.82, 63.97, 6.91, 30.41, 37.15, 41.81, 1500.6, 863.49, 27.34, 103.92, 52.99, 49.09, 149.22, 36.01, 317.68, 575.69, 129.1, 87.17, 75.24, 11.11, 126.13, 42.16, 48.65, 170.33, 152.03, 1381.94, 1381.94, 21.7, 12.04, 175.96, 152.03, 184.68, 323.52, 13.93, 489.57, 126.87, 27.02, 193.55, 1877.77, 45.36, 13.37, 207.76, 1097.26, 1056.57, 82.52, 22.75, 35.91, 17.93, 54.18, 4266.04, 35.87, 26.51, 26.06, 102.03, 463.51, 9.04, 35.38, 304.1, 23.54, 2386.07, 9.47, 994.29, 162.15, 11.8, 435.85, 131.37, 21.66, 0, 24.7, 51.8, 93.82, 27.64, 93.88, 45.63, 27.01, 1271.19, 925.47, 11.44, 87.14, 32.86, 39.84, 203.88, 196.28, 80.78, 329.63, 93.88, 304.55, 28.79, 53.4, 37.65, 12.96, 28.74, 81.44, 59.21, 213.03, 11.51, 65.95, 57.8, 4.08, 80.26, 102.97, 18.29, 129.04, 9.41, 72.8, 1887.99, 207.76, 14.54, 96.77, 104.57, 10.89, 267.95, 91.37, 258.79, 175.83, 33.91, 0, 218.84, 27.15, 6.29, 93.88, 187.26, 34.8, 73.62, 2.94, 271.52, 25.44, 1213.3, 51.85, 36.01, 1267.14, 73.0, 15.55, 279.19, 40.78, 2972.86, 189.87, 17.62, 1112.42, 124.4, 184.59, 51.43, 1614.1, 96.77, 1699.22, 495.05, 104.17, 134.21, 9.94, 13.0, 34.67, 146.17, 185.31, 183.86, 28.11, 28.8, 517.18, 49.57, 48.95, 49.16, 61.3, 517.24, 9.53, 35.29, 61.26, 1401.8, 1450.83, 17.7, 152.17, 54.18, 11.53, 38.46, 20.49, 103.14, 320.16, 223.27, 20.74, 52.9, 300.9, 71.48, 1669.45, 26.49, 135.95, 812.51, 9.58, 27.64, 1020.22, 26.57, 3003.09, 210.44, 75.84, 14.5, 1699.22, 23.58, 93.88, 6.33, 2774.6, 96.77, 6832.49, 31.23, 10.09, 149.98, 27.37, 42.87, 925.47, 96.77, 772.83, 464.06, 189.37, 36.01, 215.42, 31.52, 96.72, 26.25, 34.09, 456.86, 28.67, 9.95, 1922.41, 261.58, 1194.76, 24.64, 39.99, 14.8, 637.76, 2938.67, 83.89, 7.82, 93.54, 91.37, 78.22, 3.72, 28.9, 33.76, 134.21, 103.92, 13.51, 1.1, 59.45, 69.83, 22.75, 35.04, 47.22, 94.83, 27.16, 684.65, 0, 10.25, 18.23, 10.67, 58.49, 68.06, 50.83, 19.0, 111.73, 41.97, 211.68, 6.58, 46.91, 8.92, 54.1, 41.29, 180.06, 57.76, 1.0, 93.21, 517.24, 40.91, 15.16, 863.49, 6.16, 57.82, 1401.8, 18.66, 33.66, 159.37, 63.39, 31.97, 19.11, 859.41, 260.78, 19.0, 8.38, 40.69, 631.95, 40.31, 47.85, 26.68, 9.76, 4.18, 27.46, 74.31, 15.98, 34.09, 104.03, 5.82, 12.97, 28.58, 93.88, 3.07, 26.93, 0, 13.86, 103.13, 51.51, 2238.99, 1270.14, 36.1, 213.03, 194.13, 96.77, 18.36, 12.07, 287.82, 93.82, 997.49, 25.88, 38.0, 55.3, 31.11, 782.62, 81.45, 56.17, 249.64, 28.34, 25.71, 13.91, 46.1, 13.36, 10.39, 3367.39, 258.79, 6.71, 35.25, 14.32, 24.98, 28.28, 108.68, 37.74, 50.94, 13.67, 14.07, 4.63, 3.61, 72.04, 1093.84, 103.34, 22.96, 0, 23.06, 1093.05, 54.18, 795.45, 67.04, 26.58, 22.32, 52.51, 12.97, 0, 49.71, 97.19, 183.23, 183.23, 339.7, 1061.46, 15.93, 40.83, 39.91, 18.12, 20.8, 412.13, 84.13, 258.79, 736.89, 5.4, 46.42, 3003.09, 64.39, 17.18, 222.77, 0, 22.62, 194.94, 10.71, 105.14, 6.89, 36.01, 134.21, 26.29, 286.25, 28.68, 14.07, 19.0, 1200.51, 1795.37, 14.18, 54.42, 1061.46, 2.91, 26.42, 13.16, 24.4, 13.79, 66.81, 50.25, 20.03, 238.32, 99.72, 15.28, 60.24, 10.11, 22.9, 52.18, 81.44, 55.89, 13.07, 13.91, 26.5, 17.82, 11.69, 16.72, 83.56, 86.51, 31.43, 1823.17, 2924.09, 26.71, 10.78, 1274.35, 70.63, 1023.83, 37.95, 162.84, 99.68, 13.07, 92.71, 0, 107.9, 20.36, 14.93, 9.25, 95.18, 10.62, 31.03, 28.47, 135.55, 8.84, 155.21, 10.25, 310.73, 19.08, 94.83, 60.93, 68.25, 0, 38.31, 64.39, 25.7, 2215.71, 18.63, 11.77, 42.25, 30.74, 607.95, 166.02, 6.33, 62.82, 5.22, 1061.46, 48.18, 31.43, 81.32, 127.88, 2958.4, 194.72, 243.17, 2121.02, 18.83, 429.35, 81.05, 94.27, 21.83, 26.32, 68.1, 12.9, 368.66, 260.78, 23.68, 9.05, 31.56, 12.88, 153.01, 30.57, 1056.57, 9.69, 13.21, 0.9, 29.59, 7.66, 14.37, 35.12, 42.19, 137.81, 99.68, 72.3, 82.52, 69.83, 75.84, 19.36, 103.92, 3.72, 37.08, 80.26, 261.58, 11.58, 892.55, 69.83, 5.33, 10.25, 2769.79, 12.43, 84.13, 26.06, 9.31, 26.55, 99.25, 36.77, 12.26, 62.21, 82.52, 3.88, 1213.3, 11.66, 29.55, 31.53, 1.09, 67.98, 39.06, 1693.5, 181.48, 9.31, 39.17, 93.88, 13.33, 23.39, 84.81, 57.76, 93.21, 14.9, 10.83, 300.39, 24.11, 134.21, 9.38, 14.07, 21.35, 57.76, 0, 384.37, 50.95, 88.05, 953.15, 412.31, 28.48, 207.76, 60.65, 25.52, 75.84, 1094.78, 3.61, 2588.47, 27.02, 2924.09, 9.04, 6.46, 452.41, 71.11, 994.29, 103.92, 36.99, 28.63, 6.93, 7.38, 10.3, 96.77, 37.09, 2.91, 27.73, 10.62, 148.35, 27.08, 507.76, 13.65, 12.28, 88.29, 2924.73, 120.86, 35.12, 57.83, 11.36, 2086.53, 375.78, 94.36, 6.99, 9.92, 1601.94, 1.1, 30.31, 171.65, 91.37, 24.03, 747.17, 17.49, 283.65, 12.48, 61.66, 59.21, 19.35, 27.54, 62.85, 54.42, 88.66, 434.07, 322.19, 307.54, 26.47, 23.59, 10.63, 34.68, 927.65, 50.25, 45.42, 96.77, 27.4, 135.12, 31.43, 18.11, 26.68, 1194.76, 52.18, 9.41, 1688.05, 21.87, 2050.73, 107.36, 633.06, 736.89, 40.69, 1.25, 318.24, 18.47, 35.99, 74.0, 9.12, 2936.47, 103.92, 622.38, 28.58, 466.79, 44.1, 16.97, 33.1, 10.71, 3.98, 27.29, 17.86, 62.82, 43.61, 90.77, 2446.8, 395.07, 35.12, 81.89, 70.83, 10.01, 86.47, 170.34, 1028.22, 11.88, 89.32, 108.6, 0, 637.76, 20.33, 529.56, 736.89, 26.23, 223.9, 14.81, 0, 78.37, 638.53, 304.07, 27.05, 22.1, 965.21, 8.99, 27.97, 32.35, 23.8, 2190.91, 79.82, 29.82, 2128.17, 18.66, 42.08, 536.09, 28.55, 38.7, 28.68, 248.94, 33.59, 45.43, 38.0, 18.22, 1112.42, 194.94, 9.15, 38.78, 26.9, 62.82, 28.11, 256.85, 81.44, 30.43, 32.66, 308.74, 14.3, 213.03, 59.66, 115.08, 9.9, 39.35, 3.95, 24.08, 27.6, 54.18, 17.87, 189.87, 123.27, 27.29, 90.02, 143.61, 350.5, 30.04, 3.08, 130.84, 302.31, 433.26, 30.84, 54.1, 14.09, 20.31, 12.56, 75.84, 31.43, 36.29, 33.45, 31.11, 13.67, 18.17, 58.45, 21.07, 76.51, 31.56, 24.31, 1.71, 11.44, 2.82, 22.58, 994.29, 31.52, 1346.99, 495.84, 581.72, 181.14, 30.72, 196.28, 3.95, 61.38, 11.01, 81.89, 1.98, 11.56, 75.84, 0, 0, 2.75, 207.76, 12.69, 20.27, 32.87, 138.54, 47.33, 51.67, 44.03, 8.96, 1125.25, 34.47, 25.98, 2.94, 1200.51, 24.18, 86.86, 31.91, 27.98, 58.65, 158.67, 1474.72, 273.04, 28.6, 13.88, 3205.77]

In [37]:
#Create a Series for revenue data
se = pd.Series(s)
df['revenue'] = se.values

In [38]:
#Check revenue data in df
df['revenue']

0      1152.11
1      3003.09
2        10.09
3       965.21
4        74.77
5         6.99
6        20.39
7      1056.57
8       123.35
9        59.58
10      116.53
11       20.36
12       64.39
13        8.64
14       21.28
15      308.74
16       30.01
17       11.80
18        9.05
19       39.91
20       28.53
21       14.52
22       29.25
23       28.93
24       10.69
25     3366.12
26     1152.11
27       69.83
28       34.09
29       96.29
        ...
970      11.56
971      75.84
972       0.00
973       0.00
974       2.75
975     207.76
976      12.69
977      20.27
978      32.87
979     138.54
980      47.33
981      51.67
982      44.03
983       8.96
984    1125.25
985      34.47
986      25.98
987       2.94
988    1200.51
989      24.18
990      86.86
991      31.91
992      27.98
993      58.65
994     158.67
995    1474.72
996     273.04
997      28.60
998      13.88
999    3205.77
Name: revenue, Length: 1000, dtype: float64

In [39]:
#df

In [40]:
#Calculate revenue on each buyer_id
df2 = df.groupby(['buyer_id'])['revenue'].sum()
df2

buyer_id
11066         13.21
23161         20.36
106330        68.25
207739        26.58
451646        43.96
638328        12.28
675354        81.32
682224        89.32
704189       997.49
923664        13.07
1011410        0.00
1041190     1213.30
1476537        9.69
1610920       35.12
1686928       35.12
1711489     1961.23
1851545     2924.09
1862440      965.21
2045554       45.06
2153669       18.21
2157360        9.76
2385711        9.95
2459911       90.77
2482885        9.58
2589154       31.43
2619266       34.09
2704490       81.89
2710049       62.86
2733483       52.51
2922630       32.86
             ...
81685825     318.24
81824089     130.84
81890222      41.81
81922154      93.88
81933545      22.58
82055205     622.38
82196040      31.91
82274743    1061.46
82327328      10.62
82398709      96.29
82449488       7.66
82514419     435.85
82647934      96.77
82800437     495.84
82815396      60.93
82889604    1028.22
82976674       3.07
83266082     302.31
83290047      36.77
83344887     181.48
83353666       6.89
83392150     104.17
83448593    1056.57
83566977      18.12
83583540       2.91
83757979      93.82
83901756      10.89
83921364      15.74
84064436       1.98
84316723    3003.09
Name: revenue, Length: 1000, dtype: float64

In [41]:
#Calculate purchase frequency of each buyer_id
df3 = df.groupby(['buyer_id'])['pay_timestamp'].count()
df3

buyer_id
11066       1
23161       1
106330      1
207739      1
451646      1
638328      1
675354      1
682224      1
704189      1
923664      1
1011410     1
1041190     1
1476537     1
1610920     1
1686928     1
1711489     1
1851545     1
1862440     1
2045554     1
2153669     1
2157360     1
2385711     1
2459911     1
2482885     1
2589154     1
2619266     1
2704490     1
2710049     1
2733483     1
2922630     1
           ..
81685825    1
81824089    1
81890222    1
81922154    1
81933545    1
82055205    1
82196040    1
82274743    1
82327328    1
82398709    1
82449488    1
82514419    1
82647934    1
82800437    1
82815396    1
82889604    1
82976674    1
83266082    1
83290047    1
83344887    1
83353666    1
83392150    1
83448593    1
83566977    1
83583540    1
83757979    1
83901756    1
83921364    1
84064436    1
84316723    1
Name: pay_timestamp, Length: 1000, dtype: int64

In [42]:
#Calculate recency of each buyer_id
df4 = df.groupby(['buyer_id'])['recency'].min()
df4

buyer_id
11066      516 days 09:45:00
23161      516 days 15:11:00
106330     516 days 09:54:00
207739     516 days 04:49:00
451646     516 days 00:09:00
638328     516 days 04:37:00
675354     516 days 12:51:00
682224     516 days 11:56:00
704189     516 days 11:59:00
923664     516 days 15:28:00
1011410    516 days 15:18:00
1041190    516 days 23:34:00
1476537    516 days 08:31:00
1610920    516 days 13:21:00
1686928    516 days 10:30:00
1711489    516 days 23:45:00
1851545    516 days 23:34:00
1862440    516 days 05:07:00
2045554    516 days 15:27:00
2153669    516 days 07:19:00
2157360    516 days 13:05:00
2385711    516 days 07:55:00
2459911    516 days 05:04:00
2482885    516 days 14:58:00
2589154    516 days 08:08:00
2619266    516 days 09:27:00
2704490    516 days 11:54:00
2710049    516 days 00:58:00
2733483    516 days 07:58:00
2922630    516 days 11:25:00
                  ...
81685825   516 days 08:13:00
81824089   516 days 07:44:00
81890222   516 days 02:50:00
81922154   516 days 05:29:00
81933545   516 days 08:04:00
82055205   516 days 11:44:00
82196040   516 days 07:34:00
82274743   516 days 16:29:00
82327328   516 days 02:11:00
82398709   516 days 09:25:00
82449488   516 days 11:09:00
82514419   516 days 12:04:00
82647934   516 days 21:53:00
82800437   516 days 09:20:00
82815396   516 days 00:47:00
82889604   516 days 07:26:00
82976674   516 days 02:10:00
83266082   516 days 06:51:00
83290047   516 days 12:45:00
83344887   516 days 08:51:00
83353666   516 days 04:13:00
83392150   516 days 02:45:00
83448593   516 days 23:58:00
83566977   516 days 08:20:00
83583540   516 days 16:05:00
83757979   516 days 03:42:00
83901756   516 days 09:06:00
83921364   516 days 12:36:00
84064436   516 days 08:29:00
84316723   516 days 06:12:00
Name: recency, Length: 1000, dtype: timedelta64[ns]

In [43]:
#Create a new DataFrame by concating DataFrames about revenue, purchase and recency, and rename columns
rfmTable = pd.concat([df2, df3, df4], axis=1).reset_index()
rfmTable.columns = ['buyer_id', 'monetary', 'frequency','recency']

In [44]:
#Convert "recency" data to days
rfmTable.recency = rfmTable.recency.dt.days

In [45]:
#Split metrics into segments by using quartiles
quantiles = rfmTable.quantile(q=[0.25,0.5,0.75])
quantiles = quantiles.to_dict()

In [46]:
#Create a segmented RFM table
segmented_rfm = rfmTable

In [47]:
#Calculate Recency scores and FM scores
def RScore(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4
    
def FMScore(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

In [50]:
#Add segment numbers to the newly created segmented RFM table
segmented_rfm['r_quartile'] = segmented_rfm['recency'].apply(RScore, args=('recency',quantiles,))
segmented_rfm['f_quartile'] = segmented_rfm['frequency'].apply(FMScore, args=('frequency',quantiles,))
segmented_rfm['m_quartile'] = segmented_rfm['monetary'].apply(FMScore, args=('monetary',quantiles,))
segmented_rfm

,buyer_id,monetary,frequency,recency,r_quartile,f_quartile,m_quartile,RFMScore
0,11066,13.21,1,516,1,4,4,144
1,23161,20.36,1,516,1,4,4,144
2,106330,68.25,1,516,1,4,2,142
3,207739,26.58,1,516,1,4,3,143
4,451646,43.96,1,516,1,4,3,143
5,638328,12.28,1,516,1,4,4,144
6,675354,81.32,1,516,1,4,2,142
7,682224,89.32,1,516,1,4,2,142
8,704189,997.49,1,516,1,4,1,141
9,923664,13.07,1,516,1,4,4,144
10,1011410,0.00,1,516,1,4,4,144
11,1041190,1213.30,1,516,1,4,1,141
12,1476537,9.69,1,516,1,4,4,144
13,1610920,35.12,1,516,1,4,3,143
14,1686928,35.12,1,516,1,4,3,143
15,1711489,1961.23,1,516,1,4,1,141
16,1851545,2924.09,1,516,1,4,1,141
17,1862440,965.21,1,516,1,4,1,141
18,2045554,45.06,1,516,1,4,3,143
19,2153669,18.21,1,516,1,4,4,144
20,2157360,9.76,1,516,1,4,4,144
21,2385711,9.95,1,516,1,4,4,144
22,2459911,90.77,1,516,1,4,2,142
23,2482885,9.58,1,516,1,4,4,144
24,2589154,31.43,1,516,1,4,3,143
25,2619266,34.09,1,516,1,4,3,143
26,2704490,81.89,1,516,1,4,2,142
27,2710049,62.86,1,516,1,4,2,142
28,2733483,52.51,1,516,1,4,2,142
29,2922630,32.86,1,516,1,4,3,143
...,...,...,...,...,...,...,...,...
970,81685825,318.24,1,516,1,4,1,141
971,81824089,130.84,1,516,1,4,2,142
972,81890222,41.81,1,516,1,4,3,143
973,81922154,93.88,1,516,1,4,2,142
974,81933545,22.58,1,516,1,4,3,143
975,82055205,622.38,1,516,1,4,1,141
976,82196040,31.91,1,516,1,4,3,143
977,82274743,1061.46,1,516,1,4,1,141
978,82327328,10.62,1,516,1,4,4,144
979,82398709,96.29,1,516,1,4,2,142
980,82449488,7.66,1,516,1,4,4,144
981,82514419,435.85,1,516,1,4,1,141
982,82647934,96.77,1,516,1,4,2,142
983,82800437,495.84,1,516,1,4,1,141
984,82815396,60.93,1,516,1,4,2,142
985,82889604,1028.22,1,516,1,4,1,141
986,82976674,3.07,1,516,1,4,4,144
987,83266082,302.31,1,516,1,4,1,141
988,83290047,36.77,1,516,1,4,3,143
989,83344887,181.48,1,516,1,4,1,141
990,83353666,6.89,1,516,1,4,4,144
991,83392150,104.17,1,516,1,4,2,142
992,83448593,1056.57,1,516,1,4,1,141
993,83566977,18.12,1,516,1,4,4,144
994,83583540,2.91,1,516,1,4,4,144
995,83757979,93.82,1,516,1,4,2,142
996,83901756,10.89,1,516,1,4,4,144
997,83921364,15.74,1,516,1,4,4,144
998,84064436,1.98,1,516,1,4,4,144
999,84316723,3003.09,1,516,1,4,1,141

In [51]:
#Add a new column to combine RFM score: 141 is the highest score as we saw from the segmented_rfm table
segmented_rfm['RFMScore'] = segmented_rfm.r_quartile.map(str) + segmented_rfm.f_quartile.map(str) + segmented_rfm.m_quartile.map(str)

In [52]:
#Find out the top 10 of our best customers
segmented_rfm[segmented_rfm['RFMScore']=='141'].sort_values('monetary', ascending=False).head(10)

,buyer_id,monetary,frequency,recency,r_quartile,f_quartile,m_quartile,RFMScore
485,41116008,6832.49,1,516,1,4,1,141
477,40241993,3367.39,1,516,1,4,1,141
361,31901926,3366.12,1,516,1,4,1,141
455,38515899,3205.77,1,516,1,4,1,141
999,84316723,3003.09,1,516,1,4,1,141
524,44241655,3003.09,1,516,1,4,1,141
106,8952602,3003.09,1,516,1,4,1,141
597,50375950,2972.86,1,516,1,4,1,141
813,67560428,2958.40,1,516,1,4,1,141
586,49156763,2938.67,1,516,1,4,1,141